@model PublicUtilities.ViewModels.TariffsViewModel

@{
    ViewData["Title"] = "Tariffs";
}

<head>
    <link rel="stylesheet" href="~/css/Tariffs/Index.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="z-index: 1; margin-left: -65px;" xmlns="http://www.w3.org/2000/svg" width="142" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="63" y="30" fill="blue" class="frame-location-text">Тарифи</text>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">Тарифи</div>
    </div>
</div>
<div class="mian-frame">
    <form asp-action="edit" method="post" class="mian-frame-frame">
        <div class="main-text-frame">
            <p class="main-text-frame-header">Вітаємо на сторінці тарифів</p>
            <p class="main-text-frame-text">
                На даній сторінці ви можете переглянети тарифи на комунальні послуги
            </p>
        </div>
        <div class="mian-frame-line"></div>
        <div class="main-frame-input">
            <div class="main-input">
                <label class="main-input-header">Вода</label>
                <input type="number" asp-for="WaterPrice" class=" main-input-field" min="0" step="0.01">
                <span asp-validation-for="WaterPrice" class=" text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Газ</label>
                <input type="number" asp-for="GasPrice" class=" main-input-field" min="0" step="0.01">
                <span asp-validation-for="GasPrice" class=" text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Електроенергія</label>
                <input type="number" asp-for="ElectricityPrice" class=" main-input-field" min="0" step="0.01">
                <span asp-validation-for="ElectricityPrice" class=" text-danger"></span>
            </div>
        </div>
        <div class="main-btn-frame">
            <input type="submit" class="main-btn-sigin" value="Зберегти" />
            <div class="main-btn-cancel">Назад</div>
        </div>
    </form>
</div>