@using PublicUtilities.ViewModels
@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Editing employee";
}

@Html.ValidationMessageFor(model => model.Email, "", new { @class = "field-validation-error" })


<head>
    <link rel="stylesheet" href="~/css/Account/Registration.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="margin-left: -40px" xmlns="http://www.w3.org/2000/svg" width="142" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="40" y="30" fill="blue" class="frame-location-text">Реєстрація</text>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">Реєстрація</div>
    </div>
</div>
<form asp-area="" asp-controller="User" asp-action="Edit" method="post" class="mian-frame">
    <div class="mian-frame-frame">
        <div class="main-text-frame">
            <div class="main-text-frame-header">Вітаємо на сторінці реєстрації</div>
            <div class="main-text-frame-text">Заповніть поля</div>
        </div>
        <div class="mian-frame-line"></div>
        <div class="main-frame-input">
            <div class="main-input">
                <label class="main-input-header">Електрона пошта</label>
                <input asp-for="Email" class=" main-input-field" />
                <span asp-validation-for="Email" class=" text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Номер телефону</label>
                <input asp-for="PhoneNumber" class="main-input-field" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Пaроль</label>
                <input asp-for="Password" class="main-input-field" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Повторіть пароль</label>
                <input asp-for="ConfirmPassword" class="main-input-field" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Прізвище</label>
                <input asp-for="Surname" class="main-input-field" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">Ім'я</label>
                <input asp-for="Name" class="main-input-field" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label class="main-input-header">По батькові</label>
                <input asp-for="Patronymic" class="main-input-field" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="main-input">
                <label asp-for="Departement" class="main-input-header">Відділ</label>
                <select asp-for="Departement" class="main-input-field">
                    @foreach (var claim in ClaimStore.claimsList)
                    {
                        <option value="@claim.Type">@claim.Value</option>
                    }
                </select>
                <span asp-validation-for="Departement" class="text-danger"></span>
            </div>
        </div>
        @*         <div class="main-text-link">Вже зареєстровані? Тоді увійдіть</div>*@
        <div class="main-btn-frame">
            <input type="submit" class="main-btn-sigin" value="Додати" />
            <a asp-action="Index" class="main-btn-cancel nav-link">Назад</a>
        </div>
    </div>
</form>
