@import '../Colors.css';

p {
    margin-bottom: 0;
}
/*----------=CHOOSE=----------*/
.choose-frame {
    display: flex;
    width: 100%;
    height: 55px;
    padding: 0px 160px;
    align-items: center;
    gap: 23.25px;
    flex-shrink: 0;
    background: var(--Chinese-White);
}

.choose-green-btn {
    display: flex;
    padding: 7.75px 15.5px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 7.75px;
    background: var(--green-crayola);
    color: var(--White);
    font-family: Open Sans;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.31px;
}

.choose-gray-btn {
    display: flex;
    padding: 7.75px 15.5px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 7.75px;
    background: var(--Bright-Gray);
    color: var(--Bright-Navy-Blue);
    font-family: Open Sans;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.31px;
    transition: 100ms ease-in-out;
}

    .choose-gray-btn:hover {
        background: var(--Granite-Gray);
        color: var(--Bright-Gray);
    }

/*----------=MAIN FRAME=----------*/
/*TEXT*/
.main-text-frame-text {
    color: var(--Granite-Gray);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*BUTTONS*/
.main-btn-frame {
    display: flex;
    padding: 10px 24px 20px 24px;
    flex-direction: column;
    align-items: center;
    gap: 7.75px;
    align-self: stretch;
}

.main-btn-frame {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: flex-start;
    gap: 34.875px;
}

.main-btn-submit {
    display: flex;
    padding: 11.625px 23.25px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 3.875px;
    background: var(--green-crayola);
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 17.05px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.511px;
    transition: 100ms ease-in-out;
}

    .main-btn-submit:hover {
        background: var(--Bright-Gray);
        color: var(--Granite-Gray);
    }
