<head>
    <link rel="stylesheet" href="~/css/Indicators/Index.css" />
</head>

<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="margin-left: 0" xmlns="http://www.w3.org/2000/svg" width="172" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="-15" y="30" fill="blue" class="frame-location-text">Подання показників</text>
    </svg>
</div>
<div id="log-header">
    <div class="log-header-frame">
        <div class="log-header-greenbox"></div>
        <div class="log-header-text">Подання показників</div>
    </div>
</div>
<div class="mian-frame">
    <div class="mian-frame-frame">
        <div class="main-text-frame">
            <p class="main-text-frame-header">Вітаємо на сторнці подання показників</p>
            <p class="main-text-frame-text">
                На цій сторінці ви можете вказати показники лічильника, 
                обравши тип показника та введучи дані в поле "Поточні".
                Також вам буде показано попередній показник і різниця між ним та введеним вами значенням.
            </p>
        </div>
        <div class="mian-frame-line"></div>
        <div class="main-frame-input">
            <div class="main-details-frame">
                <details>
                    <summary>Вода</summary>
                    <div class="main-details-first-row">
                        <p class="main-details-first-row-text">Поточні</p>
                        <p class="main-details-first-row-text">Попередні</p>
                        <p class="main-details-first-row-text">Різниця</p>
                    </div>
                    <div class="details-line-frame">
                        <div class="details-line"></div>
                    </div>
                    <div>
                        <div class="main-details-seccond-row">
                            <input class="main-details-input-field" />
                            <p class="main-details-text-field"></p>
                            <p class="main-details-text-field"></p>
                        </div>
                    </div>
                    <div class="main-btn-frame">
                        <div class="main-btn-submit">Подати</div>
                    </div>
                </details>
            </div>
            <div class="main-details-frame">
                <details>
                    <summary>Газ</summary>
                    <div class="main-details-first-row">
                        <p class="main-details-first-row-text">Поточні</p>
                        <p class="main-details-first-row-text">Попередні</p>
                        <p class="main-details-first-row-text">Різниця</p>
                    </div>
                    <div class="details-line-frame">
                        <div class="details-line"></div>
                    </div>
                    <div>
                        <div class="main-details-seccond-row">
                            <input class="main-details-input-field" />
                            <p class="main-details-text-field"></p>
                            <p class="main-details-text-field"></p>
                        </div>
                    </div>
                    <div class="main-btn-frame">
                        <div class="main-btn-submit">Подати</div>
                    </div>
                </details>
            </div>
            <div class="main-details-frame">
                <details>
                    <summary>Електроенергія</summary>
                    <div class="main-details-first-row">
                        <p class="main-details-first-row-text">Поточні</p>
                        <p class="main-details-first-row-text">Попередні</p>
                        <p class="main-details-first-row-text">Різниця</p>
                    </div>
                    <div class="details-line-frame">
                        <div class="details-line"></div>
                    </div>
                    <div>
                        <div class="main-details-seccond-row">
                            <input class="main-details-input-field" />
                            <p class="main-details-text-field"></p>
                            <p class="main-details-text-field"></p>
                        </div>
                    </div>
                    <div class="main-btn-frame">
                        <div class="main-btn-submit">Подати</div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>