:root {
    --bright-navy-blue-50-t: rgba(66, 74, 81, 0.75);
    --Arsenic: #343F44;
    --green-crayola: #15C484;
    --White: #FFF;
    --Bright-Gray: #EDEDED;
    --Granite-Gray: #676866;
    --Bright-Navy-Blue: #177AE3;
    --Black: #000;
    --AuroMetalSaurus: #718183;
    --Anti-Flash-White: #F0F0F0;
    --Lotion: #FAFAFA;
    --Chinese-White: #E1E1E1;
}
