<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/GarbageRemoval/Index.css" />
</head>

<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="margin-left: 0" xmlns="http://www.w3.org/2000/svg" width="172" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="-15" y="30" fill="blue" class="frame-location-text">Графік вивозу сміття</text>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">Графік вивозу сміття</div>
    </div>
</div>
<div class="mian-frame">
    <div class="mian-frame-frame">
        <div class="main-text-frame">
            <div class="main-text-frame-header">Вітаємо на сторнці графіку вивозу сміття</div>
            <div class="main-text-frame-text">На цій сторінці ви можете переглянути графік вивозу сміття</div>
        </div>
        <div class="mian-frame-line"></div>
        <div class="schedule">
            <ol>
                <li class="mrgn">
                    Розклад вивозу:
                    <ul>
                        <li>Понеділок: Центральні райони міста.</li>
                        <li>Вівторок: Північні райони.</li>
                        <li>Середа: Східні райони.</li>
                        <li>Четвер: Південні райони..</li>
                        <li>П'ятниця: Західні райони.</li>
                    </ul>
                </li>
                <li class="mrgn">
                    Частота вивозу:
                    <ul>
                        <li>Резиденціальні райони: 2 рази на тиждень.</li>
                        <li>Комерційні та промислові райони: Щоденно.</li>
                        <li>Центральні райони: 3 рази на тиждень.</li>
                    </ul>
                </li>
                <li class="mrgn">
                    Спеціалізовані вивози:
                    <ul>
                        <li>Великогабаритне сміття: Один раз на тиждень (середа).</li>
                        <li>Небезпечні відходи: Раз на місяць (остання п'ятниця місяця).</li>
                    </ul>
                </li>
                <li class="mrgn">
                    Додаткові заходи:
                    <ul>
                        <li>Вивіз зелених відходів (гілки, листя): Раз на тиждень (субота).</li>
                        <li>Акції з утилізації електронних відходів: Кожні два місяці (неділя).</li>
                    </ul>
                </li>
                <li class="mrgn">
                    Спеціальні події:
                    <ul>
                        <li>Підготовка до свят: Збільшення частоти вивозу на тиждень до свят.</li>
                        <li>Екологічні заходи: Додатковий вивіз під час масових прибирань.</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
