<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PublicUtilities</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PublicUtilities.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/_Layout.css">
</head>
<body>
    <div class="left-attachment"></div>
    <header>
        <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" id="nav">
            <div id="nav-logo">
                <div id="nav-frame">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="nav-text">PublicUtilities</a>
                </div>
                <div class="green-box"></div>
            </div>
            <div id="nav-items">
                <div id="nav-item-t">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-text-seccondary">Головна</a>
                </div>
@*                 <div id="nav-item-t">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy" id="nav-text-seccondary">Privacy</a>
                </div> *@
                <div id="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-text-seccondary">Увійти</a>
                </div>
                <div id="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-text-seccondary">Зареєструватися</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer new-footer">
        <div class="new-footer-frame">
            <div class="new-footer-frame-col">
                <div class="new-footer-text-header">Місто Тернопіль</div>
                <div class="new-footer-text-frame">
                    <div class="new-footer-text">Платежі</div>
                    <div class="new-footer-text">Показники лічильника</div>
                    <div class="new-footer-text">Заяви</div>
                    <div class="new-footer-text">Зворотній зв'язок</div>
                </div>
            </div>
            <div class="new-footer-frame-col">
                <div class="new-footer-text-header">Додаткові ресурси</div>
                <div class="new-footer-text-frame">
                    <div class="new-footer-text">Вивіз сміття</div>
                    <div class="new-footer-text">Тарифи</div>
                    <div class="new-footer-text">Сповіщення</div>
                    <div class="new-footer-text">Про нас</div>
                </div>
            </div>
            <div class="new-footer-frame-col">
                <div class="new-footer-text-header">Соціальні мережі</div>
                <div class="new-footer-text-frame">
                    <div class="new-footer-text">Facebook</div>
                    <div class="new-footer-text">Twitter</div>
                    <div class="new-footer-text">Instagram</div>
                </div>
            </div>
            <div class="new-footer-frame-col">
                <div class="new-footer-text-header">Конфіденційність</div>
                <div class="new-footer-text-frame">
                    <div class="new-footer-text">Конфіденційність</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
