@import '../Colors.css';

p {
    margin-bottom: 0;
}

/*----------=MAIN FRAME=----------*/
/*TEXT*/
.main-text-frame-text {
    color: var(--Granite-Gray);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-box {
    display: flex;
    width: 90%;
    gap: 20px;
}

.news-image {
    background: var(--White);
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    height: 180px;
}

.new-text-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-header {
    color: var(--Bright-Navy-Blue);
    text-align: start;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-date {
    color: var(--Granite-Gray);
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-text {
    color: var(--Granite-Gray);
    margin-top: 10px;
    text-align: start;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-indent: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.news-pages{
    display: flex;
    gap: 10px;
}

.page-arrow, active-page, non-active-page {
    color: var(--Bright-Navy-Blue);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active-page {
    font-weight: 600;
}

.news-block-text-more {
    margin-top:10px;
    color: var(--Bright-Navy-Blue);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.682%; /* 26.885px */
    letter-spacing: -0.341px;
    transition: 100ms ease-in-out;
}

.news-box:hover .news-block-text-more {
    font-size: 20px;
}

.nav-link{
    padding: 5px;
}

/*INPUT*/
.main-frame-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px 70px;
    display: grid;
    grid-template-columns: auto;
}

.main-input {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: flex-start;
}

.main-input-header {
    display: flex;
    padding: 0px 7.75px;
    align-items: flex-start;
    gap: 7.75px;
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
}

.main-input-textarea {
    width: 310px;
    padding: 10px 10px;
    border-radius: 3.875px;
    border: 1.55px solid var(--Granite-Gray, #676866);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 3.1px 0px rgba(0, 0, 0, 0.10) inset;
    color: var(--Black);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
}

.main-input-field {
    width: 310px;
    height: 40px;
    padding: 0 10px;
    border-radius: 3.875px;
    border: 1.55px solid var(--Granite-Gray, #676866);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 3.1px 0px rgba(0, 0, 0, 0.10) inset;
    color: var(--Black);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.232px;
}

/*BUTTONS*/
.main-btn-frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 34.875px;
}

.main-btn-sigin {
    display: flex;
    padding: 9.625px 23.25px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 5px;
    border: 2px solid var(--green-crayola);
    background: var(--green-crayola);
    color: var(--White);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.511px;
    transition: 100ms ease-in-out;
}

    .main-btn-sigin:hover {
        border: 2px solid var(--Bright-Gray);
        background: var(--Bright-Gray);
        color: var(--Granite-Gray);
    }


.main-btn-cancel {
    display: flex;
    padding: 9.625px 15.5px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    border-radius: 5px;
    border: 2px solid var(--AuroMetalSaurus);
    color: var(--AuroMetalSaurus, #718183);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.511px;
    transition: 100ms ease-in-out;
}

    .main-btn-cancel:hover {
        background: var(--AuroMetalSaurus);
        color: var(--Lotion);
    }