@import '../Colors.css';

p{
    margin-bottom:0;
}

.alert {
    margin-top: 5px;
    padding: 15px;
    background-color: var(--green-crayola);
    border-radius: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--Anti-Flash-White);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    gap: 10px;
    z-index: 9;
}
.alert-img {
    fill: var(--Anti-Flash-White);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*----------=MAIN FRAME=----------*/
/*TEXT*/
.main-text-frame-text {
    width: 812.2px;
    color: var(--Granite-Gray);
    text-align: left;
    text-indent:50px;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*INPUT*/
.main-frame-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px 70px;
    display: grid;
    grid-template-columns: auto;
}

.main-details-frame {
    display: flex;
    width: 795.15px;
    flex-direction: column;
    align-items: center;
    gap: 11.625px;
    border-radius: 3.875px;
    background: var(--Anti-Flash-White, #F0F0F0);
    box-shadow: 0px 0px 3.875px 0px rgba(0, 0, 0, 0.25);
}
.main-details-frame-2 {
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
    gap: 11.625px;
    border-radius: 3.875px;
    background: var(--Anti-Flash-White, #F0F0F0);
    box-shadow: 0px 0px 3.875px 0px rgba(0, 0, 0, 0.25);
}

summary {
    display: flex;
    width: 795px;
    height: 60px;
    padding: 0px 26px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: var(--AuroMetalSaurus);
    box-shadow: 0px 3.1px 3.875px 0px rgba(0, 0, 0, 0.25);
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.summary-2 {
    width: 700px;
    background: var(--green-crayola);
}

    summary::after {
        margin-left: 1ch;
        display: inline-block;
        content: url('/Images/Vector 1.svg');
        transition: 0.2s;
    }

details[open] > summary::after {
    transform: rotate(90deg);
}

.summary-frame {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

/*FIRST ROW*/
.main-details-first-row {
    display: grid;
    width: 100%;
    padding: 0 65px;
    grid-template-columns: auto auto auto;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main-details-first-row-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width:180px;
    margin-bottom:0;
    /*gap: 8.525px;*/
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*LINE*/
.details-line-frame {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.details-line {
/*    margin-left:80px;*/
    width: 555px;
    height: 0.775px;
    background: var(--Granite-Gray);
}

/*SECCOND ROW*/
.main-details-seccond-row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main-details-input-field {
    display: block;
    text-align:center;
    width:170px;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 0.5px solid var(--Granite-Gray);
    background: var(--White);
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-details-text-field {
    margin-bottom: 0px;
    display: block;
    text-align: center;
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background: var(--Lotion);
    border-bottom: 0.5px solid var(--Granite-Gray);
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*BUTTONS*/
.main-btn-frame {
    display: flex;
    padding: 10px 24px 20px 24px;
    flex-direction: column;
    align-items: center;
    gap: 7.75px;
    align-self: stretch;
}

.main-btn-submit {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    align-self: stretch;
    border-radius: 3.875px;
    background: var(--green-crayola);
    color: var(--Anti-Flash-White);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.651px;
    transition: 100ms ease-in-out;
    border:none;
}

    .main-btn-submit:hover {
        background: var(--AuroMetalSaurus);
    }
