@import '../Colors.css';

p{
    margin-bottom:0;
}

/*----------=REGISTRATION HEADER=----------*/
#ind-header {
    margin-left: -100px;
    display: flex;
    width: 1488px;
    padding: 0px 1112.591px 0px 142.492px;
    align-items: center;
    background: var(--Arsenic);
}

.ind-header-frame {
    display: flex;
    align-items: center;
    width: 400px;
    gap: 7.786px;
}

.ind-header-greenbox {
    width: 17.13px;
    height: 58.398px;
    background: var(--green-crayola);
}

.ind-header-text {
    color: var(--Bright-Gray);
    text-shadow: 0px 1.557px 3.893px #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

/*----------=LOCATION=----------*/
#frame-location {
    width: 1488px;
    margin-top: 40px;
    margin-left: -100px;
    display: flex;
    padding: 0px 140px;
    align-items: flex-start;
    background: #EEE;
}

.frame-location-frame {
    width: 141.714px;
    height: 52.948px;
    flex-shrink: 0;
}

.frame-location-text {
    fill: #177AE3;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.498px;
}

/*----------=MAIN FRAME=----------*/
.mian-frame {
    margin-left: -100px;
    display: flex;
    width: 1488px;
    padding: 31px 200px;
    flex-direction: column;
    align-items: center;
    gap: 7.75px;
    background: var(--Bright-Gray);
}

.mian-frame-frame {
    display: flex;
    padding: 44.175px 0px;
    flex-direction: column;
    align-items: center;
    gap: 34.875px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--Lotion);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
}
/*TEXT*/
.main-text-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34.875px;
}

.main-text-frame-header {
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-text-frame-text {
    width: 812.2px;
    color: var(--Granite-Gray);
    text-align: left;
    text-indent:50px;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*LINE*/
.mian-frame-line {
    width: 900px;
    height: 1.1px;
    background: var(--bright-navy-blue-50-t);
}
/*INPUT*/
.main-frame-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px 70px;
    display: grid;
    grid-template-columns: auto;
}

.main-details-frame {
    display: flex;
    width: 795.15px;
    flex-direction: column;
    align-items: center;
    gap: 11.625px;
    border-radius: 3.875px;
    background: var(--Anti-Flash-White, #F0F0F0);
    box-shadow: 0px 0px 3.875px 0px rgba(0, 0, 0, 0.25);
}

summary {
    display: flex;
    width: 795px;
    height: 60px;
    padding: 0px 26px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: var(--green-crayola);
    box-shadow: 0px 3.1px 3.875px 0px rgba(0, 0, 0, 0.25);
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

    summary::after {
        margin-left: 1ch;
        display: inline-block;
        content: url('/Images/Vector 1.svg');
        transition: 0.2s;
    }

details[open] > summary::after {
    transform: rotate(90deg);
}

/*FIRST ROW*/
.main-details-first-row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 7.75px 81.375px 0px 81.375px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main-details-first-row-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width:180px;
    margin-bottom:0;
    margin-top:20px;
    /*gap: 8.525px;*/
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*LINE*/
.details-line-frame {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.details-line {
/*    margin-left:80px;*/
    width: 650px;
    height: 0.775px;
    background: var(--Granite-Gray);
}

/*SECCOND ROW*/
.main-details-seccond-row {
    display: grid;
    grid-template-columns: auto auto auto;
    display: flex;
    padding: 0px 70px 20px 70px;

    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main-details-input-field {
    display: block;
    text-align:center;
    width:200px;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 0.5px solid var(--Granite-Gray);
    background: var(--White);
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-details-text-field {
    margin-bottom: 0px;
    display: block;
    text-align: center;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px 5px 0px 0px;
    background: var(--Lotion);
    border-bottom: 0.5px solid var(--Granite-Gray);
    color: var(--Granite-Gray);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*BUTTONS*/
.main-btn-frame {
    display: flex;
    padding: 10px 24px 20px 24px;
    flex-direction: column;
    align-items: center;
    gap: 7.75px;
    align-self: stretch;
}

.main-btn-submit {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 7.75px;
    align-self: stretch;
    border-radius: 3.875px;
    background: var(--green-crayola);
    color: var(--Anti-Flash-White);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.651px;
    transition: 100ms ease-in-out;
}

    .main-btn-submit:hover {
        background: var(--AuroMetalSaurus);
    }
